
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.csv
*.tmp
[Bb]in
[Dd]ebug*/
ProcessedMulliganGeneratedDocs/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
_NCrunch*/
/*.dll
Solutions/*.dll
Solutions/MSpecTests.Mulligan/*.dll
Solutions/MSpecTests.Mulligan/*.xml
*.ncrunchproject
*.ncrunchsolution
[Tt]est[Rr]esult*
*.Publish.xml
#Ignore Deploy folders
Deploy/*/*/
Deploy/*/Global.asax
Deploy/*/*.config
Deploy/*/*.aspx
Deploy/*/*.dll
Deploy/*/*.xml
Deploy/*/*.exe
Deploy/*/*.bat
Deploy/Mulligan.CacheUpdateService/*
Deploy/Mulligan.AccountingExportService/*
Deploy/Mulligan.RazorService/*
MulliganGeneratedDocs/*

